<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>供需.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBA3EB751C9FA98800E647CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBA3EB8E1C9FA98800E647CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBA3EB991C9FA98800E647CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
